<!-- app/views/lists/new.html.erb -->
<div class="new-list-form">
  <h1 class="form-title">New List</h1>

  <%= simple_form_for @list, html: { class: 'list-form' } do |f| %>
    <%= f.input :name, label: "List Name" %>
    <%= f.input :image_url, label: "Image URL (optional)" %>
    <%= f.button :submit, class: "submit-button" %>
  <% end %>

  <%= link_to "Back to Lists", lists_path, class: "back-to-lists-button" %>
</div>
