<!-- app/views/bookmarks/new.html.erb -->
<div class="new-bookmark-form">
  <h1 class="form-title">Add Bookmark to <%= @list.name %></h1>

  <%= simple_form_for [@list, @bookmark], html: { class: 'bookmark-form' } do |f| %>
    <%= f.input :comment, label: "Comment" %>
    <%= f.association :movie, collection: Movie.all, prompt: "Select a movie", label: "Select Movie" %>
    <%= f.button :submit, class: "submit-button" %>
  <% end %>

  <%= link_to "Back to List", list_path(@list), class: "back-to-list-button" %>
</div>
